
<%- include('partials/html-head.ejs') %>

<h1>Hello World from EJS.</h1>

<h2>I'm Jacob</h2>

<p><%= myResultClient.length %></p>

<% for (var i=0; i< myResultClient.length; i++ ) { %> -->
    
 <br>

<li><%= myResultClient[0].userName %></li>

<% } %>


<li>My favorite TV show is <%= myResultClient[0].tvShows %></li>


<footer> sent from a file on my node server, yo!

    <a href="/send">send</a> |

    <a href="https://github.com/Rastifer/legendary-parakeet-papa" target="_blank">Source Code</a>

</footer>

<%- include('partials/html-butt.ejs') %>